<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.javahai.chatroom.mapper.UserMapper">

    <resultMap type="top.javahai.chatroom.entity.User" id="UserMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="userProfile" column="user_profile" jdbcType="VARCHAR"/>
        <result property="userStateId" column="user_state_id" jdbcType="INTEGER"/>
        <result property="isEnabled" column="is_enabled" jdbcType="OTHER"/>
        <result property="isLocked" column="is_locked" jdbcType="OTHER"/>
        <result property="userTypeId" column="user_type_id" jdbcType="INTEGER"/>
    </resultMap>
    <!--根据用户名查询用户 -->
    <select id="getUserByUsername" resultMap="UserMap">
        select id,
               username,
               nickname,
               password,
               user_profile,
               user_state_id,
               is_enabled,
               is_locked,
               user_type_id,
               service_domain_id
        from user
        where username = #{username}
    </select>

    <!--获取所有用户数据 -->
    <select id="getUsersWithoutCurrentUser" resultMap="UserMap" parameterType="java.lang.Integer">
        select id,
               username,
               nickname,
               user_profile,
               user_state_id,
               is_enabled,
               is_locked,
               user_type_id,
               (
                   SELECT MAX(create_time)
                   FROM private_msg_content p
                   WHERE (p.from_id = u.id AND p.to_id = #{id})
                      OR (p.from_id = #{id} AND p.to_id = u.id)
               ) as lastMessageTime
        from user u
        where id != #{id}
          and user_type_id = 1
          and is_locked = 0
        order by
        lastMessageTime DESC,
        u.user_state_id ASC
    </select>

    <!--查询单个-->
    <select id="queryById" resultType="top.javahai.chatroom.entity.User">
        select id,
               username,
               nickname,
               user_profile,
               user_state_id,
               user_type_id
        from user
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="UserMap">
        select id,
               username,
               nickname,
               password,
               user_profile,
               user_state_id,
               is_enabled,
               is_locked
        from user
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="UserMap">
        select
        id, username, nickname, password, user_profile, user_state_id, is_enabled, is_locked
        from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="nickname != null and nickname != ''">
                and nickname = #{nickname}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="userProfile != null and userProfile != ''">
                and user_profile = #{userProfile}
            </if>
            <if test="userStateId != null">
                and user_state_id = #{userStateId}
            </if>
            <if test="isEnabled != null">
                and is_enabled = #{isEnabled}
            </if>
            <if test="isLocked != null">
                and is_locked = #{isLocked}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into user(username, nickname, password, user_profile, user_state_id, is_enabled, is_locked, user_type_id)
        values (#{username}, #{nickname}, #{password}, #{userProfile}, #{userStateId}, #{isEnabled}, #{isLocked},
                #{userTypeId})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update user
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="nickname != null and nickname != ''">
                nickname = #{nickname},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="userProfile != null and userProfile != ''">
                user_profile = #{userProfile},
            </if>
            <if test="userStateId != null">
                user_state_id = #{userStateId},
            </if>
            <if test="isEnabled != null">
                is_enabled = #{isEnabled},
            </if>
            <if test="isLocked != null">
                is_locked = #{isLocked},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from user
        where id = #{id}
    </delete>

    <update id="setUserStateToOn">
        update user
        set user_state_id=1
        where id = #{id} AND user_state_id=2
    </update>
    <update id="setUserStateToLeave">
        update user
        set user_state_id=2
        where id = #{id}
    </update>
    <select id="checkUsername" resultType="java.lang.Integer">
        select count(*)
        from user
        where username = #{username}
    </select>
    <select id="checkNickname" resultType="java.lang.Integer">
        select count(*)
        from user
        where nickname = #{nickname}
    </select>
    <!--    按条件查询所有的用户-->
    <select id="getAllUserByPage" resultMap="UserMap">
        select * from user where 1=1
        <if test="keyword!=null and keyword!=''">
            and nickname like concat('%',#{keyword},'%')
        </if>
        <if test="isLocked!=null">
            and is_locked =#{isLocked}
        </if>
        <if test="page!=null and size!=null">
            limit #{page},#{size}
        </if>
    </select>
    <select id="getTotal" resultType="java.lang.Long">
        select count(*) from user where 1=1
        <if test="keyword!=null and keyword!=''">
            and nickname like concat('%',#{keyword},'%')
        </if>
        <if test="isLocked!=null">
            and is_locked =#{isLocked}
        </if>
    </select>
    <select id="ConstantGetUsersWithoutCurrentUser" resultType="top.javahai.chatroom.entity.vo.UserGetVO">
        select id, username, nickname, password, user_profile, user_state_id, user_type_id
        from user u
        where id != #{id}
          and is_locked = 0
        ORDER BY
            (
                SELECT MAX(create_time)
                FROM private_msg_content p
                WHERE (p.from_id = u.id AND p.to_id = #{id})
                   OR (p.from_id = #{id} AND p.to_id = u.id)
            ) DESC,
            u.user_state_id ASC
    </select>
    <select id="selectUser" resultType="top.javahai.chatroom.entity.vo.UserCardVO">
        select id,
               nickname,
               user_profile,
               user_state_id,
               user_type_id
        from user
        where id = #{id}
    </select>
    <select id="getRecentConversation" resultType="top.javahai.chatroom.entity.vo.UserGetVO">
        SELECT
            u.id,
            u.username,
            u.nickname,
            u.user_profile AS userProfile,
            u.user_state_id AS userStateId,
            u.user_type_id AS userTypeId,
            MAX(m.create_time) AS lastMessageTime
        FROM user u
                 INNER JOIN private_msg_content m
                            ON (u.id = m.from_id OR u.id = m.to_id)
                 INNER JOIN private_chat_conversation c ON m.conversation_id = c.id
        WHERE
          -- 1. 基础过滤：排除自己，限制时间
            u.id != #{currentUserId}
          AND m.create_time >= DATE_SUB(NOW(), INTERVAL 3 DAY)

          -- 2. 限制为当前服务域
          AND c.service_domain_id = #{serviceDomainId}

          -- 3. 核心修正：可见性规则 (使用括号包裹 OR 条件)
          AND (
            -- 情况 A: 我参与的会话 (无论是进行中还是已结束都能看)
            (c.user_id_1 = #{currentUserId} OR c.user_id_2 = #{currentUserId})
                OR
                -- 情况 B: 别人的会话 (必须是已结束的)
            (c.is_active = 0)
            )
          AND u.user_type_id = 0
        GROUP BY u.id
        ORDER BY lastMessageTime DESC
    </select>
    <select id="getSupportServiceCategories" resultType="top.javahai.chatroom.entity.SupportService">
        SELECT id, name
        FROM support_services
        WHERE service_domain_id = #{domainId}
    </select>
    <select id="getOnlineSupporterByServiceId" resultType="integer">
        SELECT
            u.id
        FROM user u
                 INNER JOIN user_support_services uss ON u.id = uss.user_id
        WHERE u.user_type_id = 1
          AND uss.service_id = #{serviceId}
          AND u.user_state_id = 1
          AND u.is_locked = 0
          AND u.service_domain_id = #{domainId}
    </select>
    <select id="getAllServiceDomains" resultType="top.javahai.chatroom.entity.ServiceDomain">
        SELECT id, name FROM service_domain
    </select>
    <select id="getSupportServicesByDomainId" resultType="top.javahai.chatroom.entity.SupportService">
        SELECT id, name
        FROM support_services
        WHERE service_domain_id = #{domainId}
    </select>
    <select id="getUserInfoById" resultType="top.javahai.chatroom.entity.UserInfo">
        SELECT id, username, nickname, user_profile, user_type_id, service_domain_id
        FROM user
        where id = #{id}
    </select>
    <select id="getServiceNameById" resultType="string">
        SELECT name FROM support_services WHERE id = #{serviceId}
    </select>
    <select id="isHasActiveConversationInDomain" resultType="java.lang.Integer">
        SELECT count(*) FROM private_chat_conversation
        WHERE
          (user_id_1 = #{userId} OR user_id_2 = #{userId})
          AND is_active = 1
          AND service_domain_id = #{domainId}
    </select>


    <update id="changeLockedStatus">
        update user
        set is_locked=#{isLocked}
        where id = #{id}
    </update>
    <update id="changeUserState">
        UPDATE user set user_state_id=#{stateId} where id=#{id}
    </update>
    <delete id="deleteByIds">
        delete from user where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
